@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary: #a64d2e;
    --secundary: #191A18;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    height: 100vh;
    margin: 0;
}


h1{
    font-size: 3rem; 
    color: var(--primary);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}
